<div class="container">
    <div class="col-md-12 empty-cart-cls text-center" *ngIf='!wishlistItems.length'>
      <img src="assets/images/empty-wishlist.png" alt="Empty cart" title="Emprt cart">
      <h3 class="mt-4"><b>Wishlist is Empty</b></h3>
      <h4>Explore more shortlist some items.</h4>
    </div>
    <div class="row" *ngIf='wishlistItems.length'>
      <div class="col-sm-12">
        <table class="table cart-table table-responsive-xs">
          <thead>
            <tr class="table-head">
              <th scope="col">Image</th>
              <th scope="col">Product name</th>
              <th scope="col">Rent</th>
              <th scope="col">Security deposit</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of wishlistItems">
            <tr>
              <td>
                <a [routerLink]="['../product', item.prod_id]">
                  <img src="http://localhost:3000/images/products/{{item.prod_img[0]}}" alt="">
                </a>
              </td>
              <td>
                <a [routerLink]="['../product', item.prod_id]">{{ item.prod_name }}</a>
                <div class="mobile-cart-content row">
                  <div class="col-xs-3">
                    <p>{{ item.prod_price}}</p>
                  </div>
                  <div class="col-xs-3">
                    <h2 class="td-color">{{ item.prod_price | currency:productsService?.currency:'symbol' }}/ mo</h2>
                  </div>
                  <div class="col-xs-3">
                    <h2 class="td-color">
                      <a [routerLink]="" (click)="removeItem(item)" class="icon mr-1">
                        <i class="ti-close"></i>
                      </a>
                      <a [routerLink]="" (click)="addToCart(item)" class="cart">
                        <i class="ti-shopping-cart"></i>
                      </a>
                    </h2>
                  </div>
                </div>
              </td>
              <td>
                <p>₹ {{ item.prod_tenure[0][1] }} / mo</p>
              </td>
              <td>
                <p>₹ {{ item.prod_price}}</p>
              </td>
              <td>
                <a [routerLink]="" (click)="removeItem(item)" class="icon mr-3">
                  <i class="ti-close"></i>
                </a>
                <a [routerLink]="'/categories/cart'" (click)="addToCart(item)" class="cart">
                  <i class="ti-shopping-cart"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row wishlist-buttons" *ngIf='wishlistItems.length'>
      <div class="col-12">
        <a [routerLink]="['../Laptop']" class="btn btn-solid">continue shopping</a>
        <a [routerLink]="['/',city,'checkout']" class="btn btn-solid">check out</a>
      </div>
    </div>
  </div>