<!-- brand filter start -->
<div class="collection-collapse-block open">
    <h4 class="collapse-block-title-processor" (click)="togglePM=!togglePM">Optical zoom <i class="float-right" *ngIf="togglePM">+</i><i class="float-right" *ngIf="!togglePM">-</i></h4>
    <div class="collection-collapse-block-content">
      <div class="collection-brand-filter">
        <div class="custom-control custom-checkbox collection-filter-checkbox" *ngFor="let filter of processorsHFilters">
          <input type="checkbox" class="custom-control-input" [value]="filter.processor" (change)=checkedFilter($event) id="{{filter.processor}}">
          <label class="custom-control-label" for="{{filter.processor}}">{{filter.processor}}</label>
        </div>
      </div>
    </div>
  </div>
  