<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>forget password</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="'/pages/login'">login</a></li>
                        <li class="breadcrumb-item active" aria-current="page">forget password</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="pwd-page">
    <div class="container" *ngIf="isLinkExpired">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h3>Please Enter your new Password!!</h3>
                <form class="theme-form" [formGroup]="resetForm" (ngSubmit)="reset()">
                    <div class="form-row">

                        <div class="col-md-12">
                            <div class="input-group">
                                <input [type]="show ? 'text' : 'password'" class="form-control" formControlName="upass" placeholder="Enter your password" required="">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                    <a (click)="passwordVisibility()"><i class="fa {{fa}}"></i></a>
                                    </span>
                                </div>
                                <div *ngIf="resetForm.controls.upass.valid && resetForm.controls.upass.errors?.minlength" class="text text-danger">
                                    Password minimum length must be atleast 6 characters.
                                </div>
                            </div>
                            <div class="input-group">
                                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="ReEnter your password" required="">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                    <a (click)="passwordVisibility()"><i class="fa {{fa}}"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="resetForm.controls.confirmPassword.touched && resetForm.controls.confirmPassword.errors?.mismatch" class="text text-danger">
                                password does'nt match
                            </div>
                        </div>

                        <button class="btn btn-solid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Reset link expired -->
    <div *ngIf="!isLinkExpired">
        <p>Link Expired {{ExpiredTime}} Minutes Ago</p>
    </div>
</section>
<!--Section ends-->