<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Checkout</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<section class="section-b-space">
    <div class="container padding-cls">
        <div class="checkout-page">
            <div class="checkout-form">
                <form [formGroup]="checkoutForm">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-title">
                                <h3>Billing Details</h3>
                            </div>
                            <div class="row check-out">
                                <input type="hidden" id="udf5" name="udf5" value="BOLT_KIT_NODE_JS" />
                                <input type="hidden" id="surl" name="surl" value="http://localhost:3000/payments/response" />
                                <input hidden type="text" formControlName="key" id="key" name="key" placeholder="Merchant Key" value="" />
                                <input hidden type="text" formControlName="salt" id="salt" name="salt" placeholder="Merchant Salt" value="" />
                                <input hidden type="text" formControlName="txnid" id="txnid" name="txnid" placeholder="Transaction ID" value="" />
                                <input hidden type="text" formControlName="amount" id="amount" name="amount" placeholder="Amount" />
                                <input hidden type="text" formControlName="pinfo" id="pinfo" name="pinfo" placeholder="Product Info" />
                                <input hidden type="text" formControlName="hash" id="hash" name="hash" placeholder="Hash" value="" />
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">First Name</div>
                                    <input type="text" name="fname" formControlName="fname" (change)="generateHash()" id="fname" [formControl]="checkoutForm.controls['fname']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.fname.touched && checkoutForm.controls.fname.errors?.required" class="text text-danger">
                                    First Name is required.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.fname.touched && checkoutForm.controls.fname.errors?.pattern" class="text text-danger">
                                    First Name must be an alphabates.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Last Name </div>
                                    <input type="text" name="lname" formControlName="lname" (change)="generateHash()"  id="lname" [formControl]="checkoutForm.controls['lname']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.lname.touched && checkoutForm.controls.lname.errors?.required" class="text text-danger">
                                    Last Name is required.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.lname.touched && checkoutForm.controls.lname.errors?.pattern" class="text text-danger">
                                    Last Name must be an alphabates.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Phone</div>
                                    <input type="text" name="mobile" formControlName="mobile" (change)="generateHash()"  id="mobile" [formControl]="checkoutForm.controls['mobile']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.mobile.touched && checkoutForm.controls.mobile.errors?.required" class="text text-danger">
                                     Phone No is required.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.mobile.touched && checkoutForm.controls.mobile.errors?.pattern" class="text text-danger">
                                      Phone No is must be number.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Email Address</div>
                                    <input type="text" name="email" formControlName="email" (change)="generateHash()"  id="email" [formControl]="checkoutForm.controls['email']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.required" class="text text-danger">
                                     Email is required
                                    </div>
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.email" class="text text-danger">
                                     Invalid Email
                                    </div>
                                </div>
                                <!-- <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Country</div>
                                    <select name="country" [formControl]="checkoutForm.controls['country']">
                                        <option value="" selected>Select Country</option>
                                        <option value="India">India</option>
                                        <option value="USA">USA</option>
                                        <option value="Australia">Australia</option>
                                    </select>
                                    <div *ngIf="checkoutForm.controls.country.touched && checkoutForm.controls.country.errors?.required" class="text text-danger">
                                     Country is required
                                    </div>
                                </div> -->
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Address</div>
                                    <input type="text" name="address" formControlName="address" (change)="generateHash()"  id="address" [formControl]="checkoutForm.controls['address']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required" class="text text-danger">
                                     Address is required
                                    </div>
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength" class="text text-danger">
                                      Maximum 50 character
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Town/City</div>
                                    <input disabled type="text" name="town" formControlName="town"  id="town" [formControl]="checkoutForm.controls['town']" value="" placeholder="" autocomplete="off">
                                     <div *ngIf="checkoutForm.controls.town.touched && checkoutForm.controls.town.errors?.required" class="text text-danger">
                                     City is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">State</div>
                                    <input disabled type="text" name="state" formControlName="state"  id="state" [formControl]="checkoutForm.controls['state']" value="" placeholder="" autocomplete="off">
                                     <div *ngIf="checkoutForm.controls.state.touched && checkoutForm.controls.state.errors?.required" class="text text-danger">
                                     State is required
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <div class="field-label">Postal Code</div>
                                    <input type="text" name="pincode" formControlName="pincode" (change)="generateHash()"  id="pincode" (keyup)="validatePostal()" [formControl]="checkoutForm.controls['pincode']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.pincode.touched && checkoutForm.controls.pincode.errors?.minlength" class="text text-danger">
                                        Postal code should be of 6 digits
                                    </div>
                                    <div *ngIf="invalidPostal && !checkoutForm.controls.pincode.errors?.minlength" class="text text-danger">We don't deliver to this postal code</div>
                                </div>

                                
                            </div>
                          <!-- <div class="row ">
                            <div class="col-12">
                              <div class="stripe-section">
                                <h5>stripe js</h5>
                                <div class="content">
                                  <h5>dummy test</h5>
                                  <table>
                                    <tr>
                                      <td>cart number</td>
                                      <td>4242424242424242</td>
                                    </tr>
                                    <tr>
                                      <td>mm/yy</td>
                                      <td>2/2020</td>
                                    </tr>
                                    <tr>
                                      <td>cvc</td>
                                      <td>2222</td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row margin-cls">
                            <div class="col-12">
                              <div class="stripe-section">
                                <h5>paypal</h5>
                                <div class="content">
                                  <h5>dummy test</h5>
                                  <table>
                                    <tr>
                                      <td>cart number</td>
                                      <td>4152521541244</td>
                                    </tr>
                                    <tr>
                                      <td>mm/yy</td>
                                      <td>11/18</td>
                                    </tr>
                                    <tr>
                                      <td>cvc</td>
                                      <td>521</td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div> -->
                        </div>

                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <!-- <div class="title-box">
                                        <div>Coupon Code <span>  <input type="text" name="coupon" [formControl]="" value="" placeholder="" autocomplete="off"></span></div>
                                    </div> -->
                                    <div class="title-box">
                                        <div>Product <span> Total</span></div>
                                    </div>
                                    <ul class="qty" *ngIf='checkOutItems.length'>
                                        <li *ngFor="let item of checkOutItems">
                                        	 {{ item.product.prod_name }} × {{ item.quantity }}
                                        	<span>
                                        	 ₹ {{ (item.tenure_price*1)* item.quantity  }}
                                            </span>
                                            <small class="line-break">Delivery Date: {{item.deliveryDate}}</small>
                                        </li>
                                    </ul>
                                    <ul class="qty" *ngIf='!checkOutItems.length'>
                                     <li class="empty-checkout"> There are no products in cart </li>
                                    </ul>
                                    <ul class="sub-total">
                                        <li>
                                        	Subtotal <span class="count">₹{{ getTenureVal }}</span>
                                        </li>
                                        <li>
                                        	Taxes <i placement="top" ngbTooltip="{{taxInfo}}" class="fa fa-info-circle"></i> <span class="count">₹{{(getTenureVal)*(gst)/100}}</span>
                                        </li>
                                        <li>
                                            Delivery Charges  <span class="count">₹ {{deliveryFee}}</span>
                                            <div class="form-check">
                                                <input type="checkbox" (change)="delivery($event)" class="form-check-input" id="deliveryCheck1">
                                                <label class="form-check-label" for="deliveryCheck1">Self pickup</label>
                                            </div>
                                        </li>
                                        <!-- <li *ngIf='checkOutItems.length'>
                                        	Shipping
                                         <div class="shipping">
                                            <div class="shopping-option">
                                                <input type="radio" name="shipping" checked="checked" id="free-shipping">
                                                <label for="free-shipping">Shipping</label>
                                            </div>
                                            <div class="shopping-option">
                                                <input type="radio"  name="shipping" id="local-pickup">
                                                <label for="local-pickup">Local Pickup</label>
                                            </div>
                                         </div>
                                        </li> -->
                                    </ul>
                                    <ul class="total">
                                        <li>Total <span class="count">₹{{getTenureVal}}</span></li>
                                        <li>Refundable Security Deposit <span class="count">₹{{grandDeposit}}</span></li>
                                        <li>Grand Total <span class="count">₹{{grandTotal}}</span></li>
                                    </ul>
                                </div>
                                <div class="text-right">
                                    <button class="btn-solid btn" type="submit" value="Pay" (click)="startPayment()">
                                       Place Order
                                    </button>
                                    <!-- <ngx-paypal [config]="payPalConfig" [ngClass]="{'btn disabled': !checkoutForm.valid}" *ngIf="payment">
                                    </ngx-paypal> -->
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>