.sub-total{
    i{
        color: #f36f02;
    }
    // .self-pickup{
    //     display: flex;
    //     input{
    //         width:4%;
    //     }
    // }
}
.checkout-details{
    .rm-glow{
        // outline: none;
        border:none !important;
        border-bottom: 1px solid black;
    }
}
.line-break{
    display:block;
}
.modal-dialog{
    min-width:80% !important;

    .modal-body{
        padding:2%;
    }
}