<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Checkout</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<section class="section-b-space">
    <div class="container padding-cls">
        <div class="checkout-page">
            <div class="checkout-form">
                <form [formGroup]="checkoutForm">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <!-- <div class="checkout-title">
                                <h3>Billing Details</h3>
                            </div> -->
                            <input type="hidden" id="udf5" name="udf5" value="BOLT_KIT_NODE_JS" />
                                <input type="hidden" id="surl" name="surl" value="http://localhost:3000/payments/response" />
                                <input hidden type="text" formControlName="key" id="key" name="key" placeholder="Merchant Key" value="" />
                                <input hidden type="text" formControlName="salt" id="salt" name="salt" placeholder="Merchant Salt" value="" />
                                <input hidden type="text" formControlName="txnid" id="txnid" name="txnid" placeholder="Transaction ID" value="" />
                                <input hidden type="text" formControlName="amount" id="amount" (change)="generateHash()" name="amount" placeholder="Amount" />
                                <input hidden type="text" formControlName="pinfo" id="pinfo" name="pinfo" placeholder="Product Info" />
                                <input hidden type="text" formControlName="hash" id="hash" name="hash" placeholder="Hash" value="" />
                                <input hidden type="text" name="email" formControlName="email" id="email" value="">
                                <input hidden type="text" name="addresstype" formControlName="addresstype" id="addresstype" value="">
                            <div class="row check-out" *ngIf="addAddress">
                                
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <!-- <div class="field-label">First Name</div> -->
                                    <input hidden type="text" name="fname" formControlName="fname" (change)="generateHash()" id="fname" [formControl]="checkoutForm.controls['fname']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.fname.touched && checkoutForm.controls.fname.errors?.required" class="text text-danger">
                                    First Name is required.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.fname.touched && checkoutForm.controls.fname.errors?.pattern" class="text text-danger">
                                    First Name must be an alphabates.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <!-- <div class="field-label">Phone</div> -->
                                    <input hidden type="text" name="mobile" formControlName="mobile" id="mobile" [formControl]="checkoutForm.controls['mobile']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.mobile.touched && checkoutForm.controls.mobile.errors?.required" class="text text-danger">
                                     Phone No is required.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.mobile.touched && checkoutForm.controls.mobile.errors?.pattern" class="text text-danger">
                                      Phone No is must be number.
                                    </div>
                                </div>
                                <!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Email Address</div>
                                    <input type="text" name="email" formControlName="email" (change)="generateHash()"  id="email" [formControl]="checkoutForm.controls['email']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.required" class="text text-danger">
                                     Email is required
                                    </div>
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.email" class="text text-danger">
                                     Invalid Email
                                    </div>
                                </div> -->
                                <!-- <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Country</div>
                                    <select name="country" [formControl]="checkoutForm.controls['country']">
                                        <option value="" selected>Select Country</option>
                                        <option value="India">India</option>
                                        <option value="USA">USA</option>
                                        <option value="Australia">Australia</option>
                                    </select>
                                    <div *ngIf="checkoutForm.controls.country.touched && checkoutForm.controls.country.errors?.required" class="text text-danger">
                                     Country is required
                                    </div>
                                </div> -->
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <!-- <div class="field-label">Address</div> -->
                                    <input hidden type="text" name="address" formControlName="address"  id="address" [formControl]="checkoutForm.controls['address']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required" class="text text-danger">
                                     Address is required
                                    </div>
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength" class="text text-danger">
                                      Maximum 50 character
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <!-- <div class="field-label">Town/City</div> -->
                                    <input hidden disabled type="text" name="town" formControlName="town"  id="town" [formControl]="checkoutForm.controls['town']" value="" placeholder="" autocomplete="off">
                                     <div *ngIf="checkoutForm.controls.town.touched && checkoutForm.controls.town.errors?.required" class="text text-danger">
                                     City is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <!-- <div class="field-label">State</div> -->
                                    <input hidden disabled type="text" name="state" formControlName="state"  id="state" [formControl]="checkoutForm.controls['state']" value="" placeholder="" autocomplete="off">
                                     <div *ngIf="checkoutForm.controls.state.touched && checkoutForm.controls.state.errors?.required" class="text text-danger">
                                     State is required
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <!-- <div class="field-label">Postal Code</div> -->
                                    <input hidden type="text" name="pincode" formControlName="pincode" id="pincode" (keyup)="validatePostal()" [formControl]="checkoutForm.controls['pincode']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.pincode.touched && checkoutForm.controls.pincode.errors?.required" class="text text-danger">
                                        pincode is required
                                    </div>
                                    <div *ngIf="checkoutForm.controls.pincode.touched && checkoutForm.controls.pincode.errors?.minlength" class="text text-danger">
                                        Postal code should be of 6 digits
                                    </div>
                                    <div *ngIf="invalidPostal && !checkoutForm.controls.pincode.errors?.minlength" class="text text-danger">We don't deliver to this postal code</div>
                                </div>

                                
                            </div>
                            <div class="row">
                                <div class="col-8" *ngIf="defaultAddress">
                                    <div class="stripe-section shadow-sm p-3 mb-3 rounded">
                                        <h5>Shipping address</h5>
                                        <div class="content">
                                        <h5>{{defaultAddressFields.name}} {{defaultAddressFields.lname}} <span *ngIf="defaultAddressFields.addresstype">({{defaultAddressFields.addresstype}})</span></h5>
                                        <p>{{defaultAddressFields.address}}, {{defaultAddressFields.city}}-{{defaultAddressFields.pincode}}</p>
                                        <p>Phone: {{defaultAddressFields.phone}}</p>
                                        </div>
                                        <button type="button" class="btn btn-solid" data-toggle="modal" data-target="#changeAddressModal">Change Address</button>
                                    </div>
                                </div>

                                <div class="col-8" *ngIf="defaultBillAddress">
                                    <div class="stripe-section shadow-sm p-3 mb-3 rounded">
                                        <h5>Billing address</h5>
                                        <div class="content">
                                        <h5>{{defaultBillAddressFields.name}} {{defaultBillAddressFields.lname}}</h5>
                                        <p>{{defaultBillAddressFields.address}}, {{defaultBillAddressFields.city}}-{{defaultBillAddressFields.pincode}}</p>
                                        <p>Phone: {{defaultBillAddressFields.phone}}</p>
                                        </div>
                                        <button class="btn-solid btn" data-toggle="modal" data-target="#billAddressModal">Change Address</button>
                                    </div>
                                </div>
                            </div>
                          <!-- <div class="row margin-cls">
                            <div class="col-12">
                              <div class="stripe-section">
                                <h5>paypal</h5>
                                <div class="content">
                                  <h5>dummy test</h5>
                                  <table>
                                    <tr>
                                      <td>cart number</td>
                                      <td>4152521541244</td>
                                    </tr>
                                    <tr>
                                      <td>mm/yy</td>
                                      <td>11/18</td>
                                    </tr>
                                    <tr>
                                      <td>cvc</td>
                                      <td>521</td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div> -->
                        </div>

                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details shadow-sm p-3 mb-2 rounded">
                                <div class="order-box">
                                    <!-- <div class="title-box">
                                        <div>Coupon Code <span>  <input type="text" name="coupon" [formControl]="" value="" placeholder="" autocomplete="off"></span></div>
                                    </div> -->
                                    <div class="title-box">
                                        <div>Product <span> Total</span></div>
                                    </div>
                                    <ul class="qty" *ngIf='checkOutItems.length'>
                                        <li *ngFor="let item of checkOutItems">
                                        	 {{ item.product.prod_name }} × {{ item.quantity }}
                                        	<span>
                                        	 ₹ {{ (item.tenure_price*1)* item.quantity  }}
                                            </span>
                                            <small class="line-break">Delivery Date: {{item.deliveryDate}}</small>
                                        </li>
                                    </ul>
                                    <ul class="qty" *ngIf='!checkOutItems.length'>
                                        <li class="empty-checkout"> There are no products in cart </li>
                                    </ul>
                                    <ul class="sub-total">
                                        <li>
                                        	Subtotal <span class="count">₹{{ getTenureVal }}</span>
                                        </li>
                                        <li>
                                        	Taxes <i placement="top" ngbTooltip="{{taxInfo}}" class="fa fa-info-circle"></i> <span class="count">₹{{(getTenureVal)*(gst)/100}}</span>
                                        </li>
                                        <li>
                                            Delivery Charges  <span class="count">₹ {{deliveryFee}}</span>
                                            <div class="form-check">
                                                <input type="checkbox" (change)="delivery($event)" class="form-check-input" id="deliveryCheck1">
                                                <label class="form-check-label" for="deliveryCheck1">Self pickup</label>
                                            </div>
                                        </li>
                                        <!-- <li *ngIf='checkOutItems.length'>
                                        	Shipping
                                         <div class="shipping">
                                            <div class="shopping-option">
                                                <input type="radio" name="shipping" checked="checked" id="free-shipping">
                                                <label for="free-shipping">Shipping</label>
                                            </div>
                                            <div class="shopping-option">
                                                <input type="radio"  name="shipping" id="local-pickup">
                                                <label for="local-pickup">Local Pickup</label>
                                            </div>
                                         </div>
                                        </li> -->
                                    </ul>
                                    <ul class="total">
                                        <li>Total <span class="count">₹{{getTenureVal}}</span></li>
                                        <li>Refundable Security Deposit <span class="count">₹{{grandDeposit}}</span></li>
                                        <li>Grand Total <span class="count">₹{{grandTotal}}</span></li>
                                    </ul>
                                </div>
                                <div class="text-right">
                                    <button  class="btn-solid btn mr-2" type="submit" [routerLink]="['/',city,'cart']" >
                                        <i class="fa fa-arrow-left"></i> Cart
                                    </button>
                                    <button class="btn-solid btn" type="submit" value="Pay" (click)="startPayment()">
                                       Place Order
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<!-- The shipping address Modal -->
<div class="modal" id="changeAddressModal" #changeAddressModal>
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title">Change your Delivery address</h3>
          <button (click)="displayAddrForm=false" type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <button *ngIf="!displayAddrForm" (click)="displayAddrForm=!displayAddrForm" type="button" class="btn btn-solid">add address</button>                    
                    <app-add-billing-address *ngIf="displayAddrForm" (addedAddress)="newAddressAdded()"></app-add-billing-address>
                </div>
                <div class="col-md-12"><hr></div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4" *ngFor="let addr of allDelvAddress">
                            <div class="stripe-section  mb-3">
                                <!-- <h5>Shipping address</h5> -->
                                <div class="content">
                                <h5>{{addr.firstname}} {{addr.lastname}} <span *ngIf="addr.nickname">({{addr.nickname}})</span></h5>
                                <p>{{addr.addr}}, {{addr.city}}-{{addr.postal}}</p>
                                <p>Phone: {{addr.phone}}</p>
                                </div>
                                <button type="button" (click)="changeAddr(addr.id)" class="btn btn-solid">Select</button>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                      <input type="radio" class="form-check-input" name="addr" (change)="setDefaultAddr(addr.id)" [checked]="addr.default === true">Set as default
                                    </label>
                                </div>
                                <!-- <button (click)="deleteAddress(addr.id)" class="btn btn-solid">Delete</button> -->
                            </div>
                        </div>
                        <div class="col-md-12"><hr></div>
                    </div>
                </div>
            </div>

        </div>       
        
      </div>
    </div>
  </div>

  <!-- The billing address Modal -->
<div class="modal" id="billAddressModal">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
      
        <div class="modal-header">
          <h3 class="modal-title">Change your Billing address</h3>
          <button (click)="displayBillForm=false" type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <button *ngIf="!displayBillForm" (click)="displayBillForm=!displayBillForm" type="button" class="btn btn-solid">add address</button>
                    <app-add-billing-address *ngIf="displayBillForm" (addedBillAddress)="newBillAddressAdded()"></app-add-billing-address>
                </div>
                <div class="col-md-12"><hr></div>
                <div class="col-md-12">
                    <div class="row mb-2">
                        <div class="col-md-4" *ngFor="let addr of allBillAddress">
                            <div class="stripe-section mb-3">
                                <div class="content">
                                <h5>{{addr.firstname}} {{addr.lastname}}</h5>
                                <p>Company name: {{addr.comapanyname}}</p>
                                <p>{{addr.addr}}, {{addr.city}}-{{addr.postal}}</p>
                                <p>Phone: {{addr.phone}}</p>
                                </div>
                                <button type="button" (click)="changeDefaultBillAddr(addr.id)" class="btn btn-solid">Select</button>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                      <input type="radio" class="form-check-input" name="billAddr" (change)="setDefaultBillAddr(addr.id)" [checked]="addr.default === true">Set as default
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>       
        
      </div>
    </div>
  </div>