.checkout-details{
    .rm-glow{
        // outline: none;
        border:none !important;
        border-bottom: 1px solid black;
    }
}
.line-break{
    display:block;
}
.modal-dialog{
    min-width:80% !important;

    .modal-body{
        padding:2%;
    }
}
// .billAddress{
//     margin-top: 10px;
// }

.stripe-section{
    border-radius: 7px !important;
    button{margin-right: 10px; padding: 5px 4px; font-weight: 100;}    
}

.checkout-details{
    border-radius: 7px !important;
    padding:15px !important;

    .order-box{
        margin:0px !important;
        .title-box{
            padding:0px !important;
            margin-bottom: 5px !important;
        }
    
        .qty{
            padding: 0px !important;
            margin-bottom: 5px !important;
        }
    
        .sub-total{
            padding: 0px !important;
            margin-bottom: 5px !important;
            i{
                color: #f36f02;
            }
        }
    }

    .text-right{
        button{
            margin-right: 10px;
        }
        .mr-10{
            margin-right: 170px;
        }
    }

}