.sub-total{
    i{
        color: #ff4c3b;
    }
    // .self-pickup{
    //     display: flex;
    //     input{
    //         width:4%;
    //     }
    // }
}
.checkout-details{
    .rm-glow{
        // outline: none;
        border:none !important;
        border-bottom: 1px solid black;
    }
}
.line-break{
    display:block;
}