<app-header-one *ngIf="url != '/Mumbai' && url != '/Pune' && url != '/Hyderabad' && url != '/categories/two' && url != '/categories/three' && url != '/categories/four' && url != '/categories/five' && url != '/categories/ten' && url != '/categories/eleven' && url != '/categories/twelve' && url != '/categories/thirteen' && url != '/categories/fourteen'"></app-header-one>

<app-header-two *ngIf="url == '/categories/five' || url == '/categories/three'"></app-header-two>

<app-header-three *ngIf="url == '/categories/two' || url == '/categories/four' || url === '/categories/fourteen' "></app-header-three>

<app-header-four *ngIf="url == '/categories/twelve' || url == '/categories/thirteen'"></app-header-four>

<app-header-five *ngIf="url == '/categories/ten'"></app-header-five>

<app-left-sidebar *ngIf="url == '/categories/eleven'"></app-left-sidebar>

<div [class]="url == '/categories/eleven' ? 'left-sidebar_space' : ''"> <!-- Left sidebar menu only -->
	
	<router-outlet></router-outlet>
	
	<app-footer-one *ngIf="url != '/Mumbai' && url != '/Pune' && url != '/Hyderabad' && url != '/categories/three' && url != '/categories/twelve' && url != '/categories/thirteen' && url != '/categories/fourteen'"></app-footer-one>
	
	<app-footer-two *ngIf="url == '/categories/three' || url == '/categories/twelve'"></app-footer-two>

	<app-footer-three *ngIf="url == '/categories/thirteen'"></app-footer-three>

	<app-footer-four *ngIf="url == '/categories/fourteen'"></app-footer-four>

</div>
	

