<div class="row" >
    <div class="col-lg-2">
      <div class="header-contact">
        <ul>
          <!-- <li>{{ 'topbar-title' | translate }}</li> -->
          <li><i class="fa fa-phone" aria-hidden="true"></i>+91 8296959999</li>
          <!-- <li>
            <div class="input-group mb-3">
              <input type="text" class="form-control search-all" placeholder="Your Email" id="mail" name="email">
              <div class="input-group-append">
                <button class="input-group-text search-all-btn"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
    <div class="col-lg-5 header-search">
      <div class="input-group mb-3">
        <input type="text" class="form-control search-all" #searchval (keyup)="emitsearch(searchval.value)" placeholder="Search" id="mail" name="search">
        <div class="input-group-append">
          <button class="input-group-text search-all-btn"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <div class="col-lg-5 text-right" *ngIf="!productsService?.catalogMode">
      <ul class="header-dropdown">
        <li class="onhover-dropdown1 mobile-location">
          <i class="fa fa-map-marker" aria-hidden="true"></i> {{ currentCity }}
          <ul class="onhover-show-div1">
            <li *ngFor="let city of citiesList">
              <a (click)='getByCity(city.cityname)'>{{city.cityname}}</a>
            </li>
          </ul>
        </li>
        <li class="mobile-wishlist">
          <a [routerLink]="'/categories/wishlist'"><i class="fa fa-heart" aria-hidden="true"></i>{{ 'wishlist' | translate }}</a>
        </li>
        <li class="onhover-dropdown mobile-account">
          <i class="fa fa-user" aria-hidden="true"></i> {{ accountName }}
          <ul class="onhover-show-div">
            <li *ngIf="!display">
              <a (click)="login()" data-lng="en">
                  {{ 'login' | translate }}
              </a>
            </li>
            <li *ngIf="display">
              <a (click)="logout()" data-lng="es">
                  {{ 'logout' | translate }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</div>





