<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Payment Failed</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Failure</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="failure-section section-b-space">
    <div class="container">
        <div class="warning d-flex justify-content-center">
            <h1><i class="fa fa-warning"></i></h1>
        </div>
        <div class="warning-message d-flex justify-content-center"  role="alert">
            <h3>Your payment attempt failed. Amount if deducted will be refunded to your bank account in 3-7 working days. Please contact Irentout customer care for further queries.</h3>
        </div>
        <div class="failure-buttons d-flex justify-content-center">
            <a class="btn btn-solid">Retry</a>
        </div>        
    </div>
</section>