<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>customer's login</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
                        <li class="breadcrumb-item active" >login</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Login</h3>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="loginForm" >
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" formControlName="email" id="email" placeholder="Email" required="">
                            <div *ngIf="loginForm.controls.email.touched && !loginForm.valid && loginForm.controls.email.errors?.required" class="text text-danger">
                                Please enter your email and password to login
                            </div>
                            <div *ngIf="loginForm.controls.email.touched && !loginForm.valid && loginForm.controls.email.errors?.email" class="text text-danger">
                                Invalid Email
                            </div>
                            <div class="text text-danger">
                                {{emailMessage}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="review">Password</label>
                            <input type="password" class="form-control" formControlName="password" id="review" placeholder="Enter your password" required="">
                            <div *ngIf="loginForm.controls.password.touched && !loginForm.valid && loginForm.controls.password.errors?.required" class="text text-danger">
                                Please enter password.
                            </div>
                            <div *ngIf="dbVerifiedPassword" class="text text-danger">
                                Incorrect password
                            </div>
                            <a [routerLink]="['/',city,'forgotpassword']">Forgot password?</a>
                        </div>
                        <div class="loginAll">
                            <div class="webLogin mr-2">
                                <button class="btn btn-solid mr-2" (click)="loginUserForm()">Login</button>
                            </div>
                            <div class="socialLogin">                                
                                <a href="http://localhost:3000/auth/google">Or login with <img src="assets/images/google.png"></a>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- <div class="col-lg-6">
                    <a href="http://localhost:3000/auth/facebook">Login with Facebook</a>
                </div> -->
                <!-- <div class="col-lg-6">
                    <a href="http://localhost:3000/auth/google">Login with Google</a>
                </div> -->
                
            </div>
            <div class="col-lg-6 right-login">
                <h3>New Customer</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Create A Account</h6>
                    <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p>
                    <button type="button" (click)="registerRedirect()" class="btn btn-solid">Create an Account</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->