<router-outlet></router-outlet>
<button type="button" class="btn btn-primary citiesModal" style="visibility: hidden;" data-toggle="modal" data-target="#citiesModalTrigger">
    Open modal
  </button>
<!-- The Modal -->
<div class="modal fade" id="citiesModalTrigger">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
              <div class="col" *ngFor="let city of citiesList">
                <a (click)='getByCity(city.cityname); refresh()'>{{city.cityname}}</a>
              </div>
          </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>