h3{
    margin: auto;
}
input, select {
    font-size: 15px;
    padding: 10px 15px;
    margin-bottom: 15px;
    height: inherit;
    border-radius: 7px;
  }

.custom-radio{
    input{
        display: flex;
    }
}
select:focus, textarea:focus, input:focus{
    border: 1px solid #c9c2c1;
    outline: none;
    box-shadow: none;
  }