<!-- Parallax banner -->
<section class="p-0">
    <div class="full-banner parallax-banner3 parallax text-center p-left">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="banner-contain">
                        <h3>Buy Refurbished Laptops </h3>
                        <h3>Starting at</h3>
                        <h4>₹14999 only</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Parallax banner end -->