<!-- breadcrumb start -->
<!-- <div class="breadcrumb-section" *ngIf="breadcrumb!='orders'">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Your Orders</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
                        <li class="breadcrumb-item active">Your orders</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div> -->
<!-- breadcrumb End -->
<div class="col-md-12 empty-cart-cls text-center" *ngIf='!orders.length'>
    <img src="assets/images/empty-search.jpg" alt="Empty cart" title="Emprt cart">
    <h3 class="mt-4"><b>Your orders is Empty</b></h3>
    <h4>Explore more shortlist some items.</h4>
</div>

        <div class="row">
            <div class="col-md-12">
                <div class="card" *ngFor="let o of orders | orderBy: 'desc'">            
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2">
                                <p>Order Date <span>{{o.orderdate[0] | date:'dd MMM yyyy'}}</span></p>
                            </div>
                            <div class="col-md-2">
                                <p>Total <span>₹{{o.amount}}</span></p>
                            </div>
                            <div class="col-md-2">
                                <p>Security deposit <span>₹{{o.securitydeposit}}</span></p>
                            </div>
                            <div class="col-md-5">
                                <p>Order # <span>{{o.txnid}}</span></p>
                            </div>                            
                            <div class="col-md-1">
                                <button  (click)="downloadAsPDF(o.userId)"><i class="fa fa-download"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" >
                        <div *ngFor="let p of o.prodlists">
                            <div class="row mb-1">
                                <div class="col-md-3">
                                    <a [routerLink]="['/',city,'product',p.id]"><img src='http://localhost:3000/images/products/{{p.prod_img}}' alt="" class="img-fluid"></a>                                    
                                </div>
                                <div class="col-md-4">
                                    <p>{{p.prod_name}}</p>
                                    <p>Rent Duration: For {{p.tenure}} Months</p>
                                    <p>Rent per month: ₹{{p.price}}</p>
                                </div>
                                <div class="col-md-3">
                                    <p>Address: {{o.fname}} <span> {{o.address}}</span></p>
                                </div>
                            </div>                            
                        </div>                       
                    </div>
                    <div id="pdfTable" #pdfTable hidden>
                        <h1>Invoice</h1>

                        <p>Name: {{o.fname}} {{o.lname}}</p>
                        <p>Mobile: {{o.mobile}}</p>
                        <p>Email: {{o.email}}</p>
                        <p>Address: {{o.address}} {{o.city}} {{o.pincode}}</p>
                        <p>Transaction: {{o.status}}</p>
                        
                      
                        <table>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Duration</th>
                                <th>Rent/month</th>
                            </tr>
                            <tr *ngFor="let p of o.prodlists">
                                <td>{{p.prod_name}}</td>
                                <td>{{p.qty}} </td>
                                <td>{{p.tenure}}</td>
                                <td>Rs-{{p.price}}</td>
                            </tr>
                        </table>
                        <hr>
                        <p>Order Id: {{o.txnid}}</p>
                        <p>Orders date: {{o.orderdate[0]}}</p>
                        <p>Total: Rs-{{o.amount}}</p>
                      </div>
                    </div>                    
                </div>
            </div>


            <!-- <div id="pdfTable" #pdfTable>
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="padding: 0 30px;background-color: #fff; -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353);box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353);width: 100%;">
                    <tbody>
                        <tr>
                            <td>                                        
                                <table border="0" cellpadding="0" cellspacing="0" >
                                    <tr>
                                        <td>
                                            <h2 class="title">YOUR ORDER DETAILS</h2>
                                        </td>
                                    </tr>
                                </table>

                                <table class="order-detail" border="0" cellpadding="0" cellspacing="0"  align="left">
                                    <tr align="left">
                                        <th>PRODUCT</th>
                                        <th style="padding-left: 15px;">DESCRIPTION</th>
                                        <th>QUANTITY</th>
                                        <th>PRICE </th>
                                    </tr>
                                    <tr>    
                                        <td valign="top" style="padding-left: 15px;">
                                            <h5 style="margin-top: 15px;">Three seater Wood Style sofa for Leavingroom </h5>
                                        </td>
                                        <td valign="top" style="padding-left: 15px;">
                                            <h5 style="font-size: 14px; color:#444;margin-top:15px;    margin-bottom: 0px;">Size : <span> L</span> </h5>
                                            <h5 style="font-size: 14px; color:#444;margin-top: 10px;">QTY : <span>1</span></h5>                                    
                                        </td>
                                        <td valign="top" style="padding-left: 15px;">
                                            <h5 style="font-size: 14px; color:#444;margin-top:15px"><b>$500</b></h5>                  
                                        </td>
                                    </tr>
                                    <tr>                                
                                        <td>
                                            <img src="assets/images/email-temp/14.jpg" alt="" width="70">
                                        </td>
                                        <td valign="top" style="padding-left: 15px;">
                                            <h5 style="margin-top: 15px;">Three seater Wood Style sofa for Leavingroom </h5>
                                        </td>
                                        <td valign="top" style="padding-left: 15px;">
                                            <h5 style="font-size: 14px; color:#444;margin-top:15px;    margin-bottom: 0px;">Size : <span> L</span> </h5>
                                            <h5 style="font-size: 14px; color:#444;margin-top: 10px;">QTY : <span>1</span></h5>                                    
                                        </td>
                                        <td valign="top" style="padding-left: 15px;">
                                            <h5 style="font-size: 14px; color:#444;margin-top:15px"><b>$500</b></h5>                  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="line-height: 49px;font-size: 13px;color: #000000;padding-left: 20px;text-align:left;border-right: unset;">Products:</td>
                                            <td colspan="3" class="price" style="line-height: 49px;text-align: right;padding-right: 28px;font-size: 13px;color: #000000;text-align:right;border-left: unset;"><b>$2600.00</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="line-height: 49px;font-size: 13px;color: #000000;padding-left: 20px;text-align:left;border-right: unset;">Discount :</td>
                                            <td colspan="3" class="price" style="line-height: 49px;text-align: right;padding-right: 28px;font-size: 13px;color: #000000;text-align:right;border-left: unset;"><b>$10</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="line-height: 49px;font-family: Arial;font-size: 13px;color: #000000;padding-left: 20px;text-align:left;border-right: unset;">Gift Wripping: </td>
                                            <td colspan="3" class="price" style="line-height: 49px;text-align: right;padding-right: 28px;font-size: 13px;color: #000000;text-align:right;border-left: unset;"><b>$2600</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="line-height: 49px;font-size: 13px;color: #000000;
                                            padding-left: 20px;text-align:left;border-right: unset;">Shipping :</td>
                                            <td colspan="3" class="price" style="
                                                line-height: 49px;text-align: right;padding-right: 28px;font-size: 13px;color: #000000;text-align:right;border-left: unset;"><b>$30</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="line-height: 49px;font-size: 13px;color: #000000;
                                            padding-left: 20px;text-align:left;border-right: unset;">TOTAL PAID :</td>
                                            <td colspan="3" class="price" style="line-height: 49px;text-align: right;padding-right: 28px;font-size: 13px;color: #000000;text-align:right;border-left: unset;"><b>$2600</b></td>
                                    </tr>
                                </table>
                                <table cellpadding="0" cellspacing="0" border="0" align="left" style="width: 100%;margin-top: 30px;    margin-bottom: 30px;">
                                            <tbody><tr>
                                                <td style="font-size: 13px; font-weight: 400; color: #444444; letter-spacing: 0.2px;width: 50%;">
                                                    <h5 style="font-size: 16px; font-weight: 500;color: #000; line-height: 16px; padding-bottom: 13px; border-bottom: 1px solid #e6e8eb; letter-spacing: -0.65px; margin-top:0; margin-bottom: 13px;">DILIVERY ADDRESS</h5>
                                                    <p style="text-align: left;font-weight: normal; font-size: 14px; color: #000000;line-height: 21px;    margin-top: 0;">268 Cambridge Lane New Albany,<br> IN 47150268 Cambridge Lane <br>New Albany, IN 47150</p>
                                                </td>
                                                <td width="57" height="25" class="user-info"><img src="assets/images/email-temp/space.jpg" alt=" " height="25" width="57"></td>
                                                <td class="user-info" style="font-size: 13px; font-weight: 400; color: #444444; letter-spacing: 0.2px;width: 50%;">
                                                    <h5 style="font-size: 16px;font-weight: 500;color: #000; line-height: 16px; padding-bottom: 13px; border-bottom: 1px solid #e6e8eb; letter-spacing: -0.65px; margin-top:0; margin-bottom: 13px;">SHIPPING ADDRESS</h5>
                                                   <p style="text-align: left;font-weight: normal; font-size: 14px; color: #000000;line-height: 21px;    margin-top: 0;">268 Cambridge Lane New Albany,<br> IN 47150268 Cambridge Lane <br>New Albany, IN 47150</p>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                                            
                                
                               
                            </td>
                        </tr>
                    </tbody>            
                </table>
            </div> -->