.orders-section{
    .container{
        margin-bottom: 10px;
    }
    .card{
        margin-bottom: 10px;

        .card-header{
            padding-bottom:0% !important;
            margin:0% !important;
            
            p span {
                display: block;
                margin-top: 2%;
            }
        }
        .card-body{
            p{                
                color: rgb(71, 130, 197)
            }
            p span{
                display: block;
            }
        }
    }
}