<!-- brand filter start -->
<div class="collection-collapse-block open">
  <h4 class="collapse-block-title-capacity">Disk Capacity</h4>
  <div class="collection-collapse-block-content">
    <div class="collection-brand-filter">
      <div
        class="custom-control custom-checkbox collection-filter-checkbox"
        *ngFor="let filter of capacityHFilters"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          [value]="filter.capacity"
          (change)="checkedFilter($event)"
          id="{{ filter.capacity }}"
        />
        <label class="custom-control-label" for="{{ filter.capacity }}">{{
          filter.capacity
        }}</label>
      </div>
    </div>
  </div>
</div>
