<!-- section start -->
<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="addressForm">
                    <div class="checkout-title">
                        <h3>Add your shipping address</h3>
                    </div>
                    <div class="check-out">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <div class="field-label">First Name</div>
                            <input type="text" class="form-control" name="fname" formControlName="fname"  id="fname"  value="" placeholder="" autocomplete="off">
                            <div *ngIf="addressForm.controls.fname.touched && addressForm.controls.fname.errors?.required" class="text text-danger">
                            Full Name is required.
                            </div>
                            <div *ngIf="addressForm.controls.fname.touched && addressForm.controls.fname.errors?.pattern" class="text text-danger">
                            Full Name must be an alphabates.
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <div class="field-label">Address type</div>
                            <select class="form-control" [(ngModel)]="otherAddress" formControlName="addresstype">
                                <option value="">Select an address type</option>
                                <option>Home</option>
                                <option>Work</option>
                                <option value='Other'>Other</option>
                            </select>
                        </div>
                        <div *ngIf="otherAddress=='Other'" class="form-group col-md-6 col-sm-6 col-xs-12">
                            <div class="field-label">Nickname</div>
                            <input class="form-control" type="text" name="addresstype" formControlName="addresstype"  value="" placeholder="Dad's home or Sister's home..." autocomplete="off">
                            <div *ngIf="addressForm.controls.addresstype.touched && addressForm.controls.addresstype.errors?.required" class="text text-danger">
                                nickname No is required.
                            </div>
                            <div *ngIf="addressForm.controls.addresstype.touched && addressForm.controls.addresstype.errors?.pattern" class="text text-danger">
                                nickname No is must be number.
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <div class="field-label">Mobile</div>
                            <input class="form-control" type="text" name="mobile" formControlName="mobile" id="mobile"  value="" placeholder="" autocomplete="off">
                            <div *ngIf="addressForm.controls.mobile.touched && addressForm.controls.mobile.errors?.required" class="text text-danger">
                              Mobile No is required.
                            </div>
                            <div *ngIf="addressForm.controls.mobile.touched && addressForm.controls.mobile.errors?.pattern" class="text text-danger">
                              Mobile No is must be number.
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <div class="field-label">Address</div>
                            <input class="form-control" type="text" name="address" formControlName="address"  id="address" value="" placeholder="" autocomplete="off">
                            <div *ngIf="addressForm.controls.address.touched && addressForm.controls.address.errors?.required" class="text text-danger">
                             Address is required
                            </div>
                            <div *ngIf="addressForm.controls.address.touched && addressForm.controls.address.errors?.maxlength" class="text text-danger">
                              Maximum 50 character
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <div class="field-label">Town/City</div>
                            <input class="form-control" disabled type="text" name="town" formControlName="town"  id="town"  value="" placeholder="" autocomplete="off">
                             <div *ngIf="addressForm.controls.town.touched && addressForm.controls.town.errors?.required" class="text text-danger">
                             City is required
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <div class="field-label">State</div>
                            <input class="form-control" disabled type="text" name="state" formControlName="state"  id="state" value="" placeholder="" autocomplete="off">
                             <div *ngIf="addressForm.controls.state.touched && addressForm.controls.state.errors?.required" class="text text-danger">
                             State is required
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <div class="field-label">Postal Code</div>
                            <input class="form-control" type="text" name="pincode" formControlName="pincode" id="pincode" (keyup)="validatePostal()" value="" placeholder="" autocomplete="off">
                            <div *ngIf="addressForm.controls.pincode.touched && addressForm.controls.pincode.errors?.required" class="text text-danger">
                                pincode is required
                            </div>
                            <div *ngIf="addressForm.controls.pincode.touched && addressForm.controls.pincode.errors?.minlength" class="text text-danger">
                                Postal code should be of 6 digits
                            </div>
                            <div *ngIf="invalidPostal && !addressForm.controls.pincode.errors?.minlength" class="text text-danger">We don't deliver to this postal code</div>
                        </div>

                        <button class="btn-solid btn" type="button" (click)="addAddress()">
                            Submit
                        </button>

                        
                    </div>

                </form>
            </div>

            <!-- <div class="col-md-6">
                <app-add-billing-address (addedBillAddress)="newBillAddressAdded()"></app-add-billing-address>
            </div> -->
        </div>
    </div>
</section>
<!--section end-->