<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="page-title">
            <h2>{{breadcrum}}</h2>
          </div>
        </div>
        <div class="col-sm-6">
          <nav aria-label="breadcrumb" class="theme-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{breadcrum}}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- breadcrumb end -->
  <!-- section start -->
  <section class="section-b-space">
    <div class="collection-wrapper">
      <div class="container">
        <div class="row">
          <!-- Collection Sidebar -->
          <div class="col-sm-3 collection-filter">
            <div class="coll_sidebar_sticky">
              <!-- <div class="collection-filter-block">
                <app-categories></app-categories>
              </div> -->
              <div class="collection-filter-block">
                <app-brand [tagsFilters]="tags" (tagFilters)="updateTagFilters($event)" *ngIf="tags.length"></app-brand>
                <span *ngIf="category==='laptop'">
                  <app-ram [ramsFilters]="rams" (ramFilters)="updateRamFilters($event)" *ngIf="rams.length"></app-ram>
                  <app-capacity [capacityHFilters]="capacityH" (capacityFilters)="updateCapacityFilters($event)" *ngIf="capacityH.length"></app-capacity>
                  <app-processor [processorsHFilters]="processor" (processorFilters)="updateProcessorFilters($event)" *ngIf="processor.length"></app-processor>
                  <app-storage-type [storageHFilters]="storage" (storageFilters)="updateStorageFilters($event)" *ngIf="storage.length"></app-storage-type>
                </span>

                <span *ngIf="category==='camera'">
                  <app-resolution [ramsFilters]="rams" (ramFilters)="updateRamFilters($event)" *ngIf="rams.length"></app-resolution>
                  <app-sensor-type [capacityHFilters]="capacityH" (capacityFilters)="updateCapacityFilters($event)" *ngIf="capacityH.length"></app-sensor-type>
                  <app-zoom [processorsHFilters]="processor" (processorFilters)="updateProcessorFilters($event)" *ngIf="processor.length"></app-zoom>
                  <!-- <app-storage-type [storageHFilters]="storage" (storageFilters)="updateStorageFilters($event)" *ngIf="storage.length"></app-storage-type> -->
                </span>
                <!-- <app-color [colorsFilters]="colors" (colorFilters)="updateColorFilters($event)" *ngIf="colors.length"></app-color> -->
                <app-price (priceFilters)="updatePriceFilters($event)"></app-price>
              </div>
              <app-new-product></app-new-product>
              <!-- <div class="collection-sidebar-banner">
                <a [routerLink]="">
                  <img src="assets/images/side-banner.png" class="img-fluid" alt="">
                </a>
              </div> -->
            </div>
          </div>
          <!-- End Collection Sidebar -->
          <div class="collection-content col">
            <div class="page-main-content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="collection-product-wrapper">
                      <div class="bg-white rounded mb-5">
                        <!-- Lined tabs-->
                        <ul id="myTab2" role="tablist" class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center">
                          <li class="nav-item flex-sm-fill">
                            <a id="latest-tab" (click)="onChangeSorting('latest')" data-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="true" class="nav-link font-weight-bold mr-sm-2 rounded-0 active">Latest Products</a>
                          </li>
                          <li class="nav-item flex-sm-fill">
                            <a id="delivery" (click)="onChangeSorting('delivery')" data-toggle="tab" href="#delivery" role="tab" aria-controls="delivery" aria-selected="false" class="nav-link font-weight-bold mr-sm-2 rounded-0">Delivery</a>
                          </li>
                          <li class="nav-item flex-sm-fill">
                            <a id="prielh-tab" (click)="onChangeSorting('low')" data-toggle="tab" href="#prielh" role="tab" aria-controls="prielh" aria-selected="false" class="nav-link font-weight-bold rounded-0">Price: Low to high</a>
                          </li>
                          <li class="nav-item flex-sm-fill">
                            <a id="priehl-tab" (click)="onChangeSorting('high')" data-toggle="tab" href="#priehl" role="tab" aria-controls="priehl" aria-selected="false" class="nav-link font-weight-bold rounded-0">Price: High to low</a>
                          </li>
                        </ul>
                        <div id="latest" class="tab-content">
                          <div id="featured" role="tabpanel" aria-labelledby="featured-tab" class="tab-pane fade py-3 show active">
                            <div class="row"><!-- [@Animation]="animation" -->                              
                              <div class="col-xl-4 col-md-6 col-grid-box" *ngFor="let product of filterItems() | orderBy:sortByOrder">
                                <div class="product-box">
                                  <app-product [product]="product"></app-product>
                                </div>
                                <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="2000" (scrolled)="onScroll()" *ngIf="filterItems().length">
                                </div>
                              </div>
                              <div class="col-sm-12 text-center section-b-space mt-5 no-found" *ngIf="!filterItems().length">
                                <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
                                <h3>Sorry! Couldn't find the product you were looking For!!!    </h3>
                                <!-- <a [routerLink]="'/categories/one'" class="btn btn-solid">continue shopping</a> -->
                              </div>
                            </div>                   
                          </div>
                          <div id="delivery" role="tabpanel" aria-labelledby="latest-tab" class="tab-pane fade py-3">
                            <div class="row">
                              <div class="col-xl-4 col-md-6 col-grid-box" *ngFor="let product of filterItems() | orderBy:sortByOrder">
                                <div class="product-box">
                                  <app-product [product]="product"></app-product>
                                </div>
                                <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="2000" (scrolled)="onScroll()" *ngIf="filterItems().length">
                                </div>
                              </div>
                              <div class="col-sm-12 text-center section-b-space mt-5 no-found" *ngIf="!filterItems().length">
                                <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
                                <h3>Sorry! Couldn't find the product you were looking For!!!    </h3>
                                <!-- <a [routerLink]="'/categories/one'" class="btn btn-solid">continue shopping</a> -->
                              </div>
                            </div>                            
                          </div>
                          <div id="prielh" role="tabpanel" aria-labelledby="prielh-tab" class="tab-pane fade py-3">
                            <div class="row">
                              <div class="col-xl-4 col-md-6 col-grid-box" *ngFor="let product of filterItems() | orderBy:sortByOrder">
                                <div class="product-box">
                                  <app-product [product]="product"></app-product>
                                </div>
                                <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="2000" (scrolled)="onScroll()" *ngIf="filterItems().length">
                                </div>
                              </div>
                              <div class="col-sm-12 text-center section-b-space mt-5 no-found" *ngIf="!filterItems().length">
                                <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
                                <h3>Sorry! Couldn't find the product you were looking For!!!    </h3>
                                <!-- <a [routerLink]="'/categories/one'" class="btn btn-solid">continue shopping</a> -->
                              </div>
                            </div>
                          </div>
                          <div id="priehl" role="tabpanel" aria-labelledby="priehl-tab" class="tab-pane fade py-3">
                            <div class="row">
                              <div class="col-xl-4 col-md-6 col-grid-box" *ngFor="let product of filterItems() | orderBy:sortByOrder">
                                <div class="product-box">
                                  <app-product [product]="product"></app-product>
                                </div>
                                <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="2000" (scrolled)="onScroll()" *ngIf="filterItems().length">
                                </div>
                              </div>
                              <div class="col-sm-12 text-center section-b-space mt-5 no-found" *ngIf="!filterItems().length">
                                <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
                                <h3>Sorry! Couldn't find the product you were looking For!!!    </h3>
                                <!-- <a [routerLink]="'/categories/one'" class="btn btn-solid">continue shopping</a> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- End lined tabs -->
                      </div>
                      
                      <!-- <div class="product-infinitescroll">
                        <div class="theme-paggination-block">
                          <div class="container-fluid p-0">
                            <div class="row">
                              <div class="text-center col-sm-12">
                                <div class="infinite-scrolling mt-4 mb-4 d-inline-block">
                                  <img src="assets/images/loader.gif" *ngIf="!finished && filterItems().length">
                                  <div class="loading-more active" *ngIf="finished && filterItems().length">No More Products</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->
                      <!-- End Infinite Scroll -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section End -->
  <app-quick-view></app-quick-view>
  <app-modal-cart></app-modal-cart>