<!-- brand filter start -->
<div class="collection-collapse-block open">
    <h3 class="collapse-block-title collapse-block-title-storage">Storage Type</h3>
    <div class="collection-collapse-block-content">
      <div class="collection-brand-filter">
        <div class="custom-control custom-checkbox collection-filter-checkbox" *ngFor="let filter of storageHFilters">
          <input type="checkbox" class="custom-control-input" [value]="filter.storage" (change)=checkedFilter($event) id="{{filter.storage}}">
          <label class="custom-control-label" for="{{filter.storage}}">{{filter.dispName}}</label>
        </div>
      </div>
    </div>
  </div>
  