<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>forget password</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="'/pages/login'">login</a></li>
                        <li class="breadcrumb-item active" aria-current="page">forget password</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2 *ngIf="!emailExist">Forgot Your Password!!</h2>
                <h3 *ngIf="emailExist">Please check your mail to reset your password!!!</h3>
                <form class="theme-form" [formGroup]="forgetForm" (ngSubmit)="recover()">
                    <div class="form-row">
                        <div *ngIf="!emailExist" class="col-md-12">
                            <input type="text" formControlName="email" class="form-control" id="email" placeholder="Enter Your Email" required="">
                            <!-- <div *ngIf="forgetForm.controls.email.touched && forgetForm.controls.email.errors?.required" class="text text-danger">
                                Enter your email to login
                            </div> -->
                            <div class="text text-danger">
                                {{emailMessage}}
                            </div>
                        </div>

                        <!-- <div *ngIf="emailExist==true" class="col-md-12">
                            <input type="text" formControlName="password" class="form-control" id="password" placeholder="Password" required="">
                            <div *ngIf="forgetForm.controls.password.touched && forgetForm.controls.password.errors?.required" class="text text-danger">
                                Enter your email to login
                            </div>
                            <div *ngIf="forgetForm.controls.password.touched && emailExist==false" class="text text-danger">
                                Enter not registered!
                            </div>
                            <input type="text" formControlName="confirmpassword" class="form-control" id="confirmpassword" placeholder="Confirm Password" required="">
                            <div *ngIf="forgetForm.controls.confirmpassword.touched && forgetForm.controls.confirmpassword.errors?.required" class="text text-danger">
                                Enter your email to login
                            </div>
                            <div *ngIf="forgetForm.controls.confirmpassword.touched && emailExist==false" class="text text-danger">
                                Enter not registered!
                            </div>
                        </div> -->

                        <button *ngIf="emailExist==false" class="btn btn-solid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->