.m-toggle {
    right: 0px;
}
#main-nav {
    .sm {
      margin-top: 32px;
      li {
        //   padding:0;
          a{
              padding-bottom: 1px;
              // border:1px solid black;
              // height: 50px;
              padding-top:10px;
              // margin-bottom: 50px;
          }
      }
    }
  }